.contact-icons {
  position: fixed;
  top: 0px;
  z-index: 100;
  right: 0px;
}
@media (min-width: 1025px) {
  .contact-icons {
    right: 10%;
    right: calc((100% - 1024px)/2);
  }
}
.contact-icon {
  width: 2em;
  height: 2em;
}
a {
  background-color: initial;
  opacity: 0.5
}
a:hover, a:active, a:focus {
  opacity: 1;
}