/* You can add global styles to this file, and also import other style files */
a { color: inherit; background-color: darksalmon; }
a.opacity-3 { opacity: 0.3; }
a.landing-link { color: black; opacity: 1; }
a:hover, a:focus, a.active { color: inherit; opacity: 1; text-decoration: initial; }
.cursor-pointer { cursor: pointer; }

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.init-loading {
    text-align: center;
}
.init-loading > img {
    width: 100px;
    margin-top: 200px;
    margin-top: 40vh;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}