h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h5, .h6, a.h4 {
   font-weight: 300;
}
.display-1 {
  font-weight: 100;
}
.lh-3 {
  line-height: 150%;
}
.container-fluid.research, .container-fluid.research .jumbotron {
  background-color: #EBEBEB;
  color: #1A1A1A;
  min-height: 100vh;
}
.container-fluid.code, .container-fluid.code .jumbotron {
  background-color: #222222;
  color: #E6E6E6;
  min-height: 100vh;
}
.bg-img {
  width: 100%;
  min-height: 300px;
  background: no-repeat center center;
  opacity: 0.15;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.text-on-bg-img {
  min-height: 300px;
  border-left: solid 4px;
}
.bullet-img {
  width: 40px;
  position: absolute;
  left: -22px;
  top: -15px;
}
.border-left-solid {
  border-left: solid 4px;
}
.title-position {
  left: 240px;
  top: 130px;
  width: 200px;
  position: absolute;
}
@media (max-width: 500px) {
  .title-position {
    left: 1em;
  }
  .jumbotron {
    min-height: 100vh;
    overflow: hidden;
  }
  .text-on-bg-img, .bg-img {
    min-height: 400px;
  }
}
@media (max-width: 350px) {
  .title-position {
    left: 0.4em;
  }
  .pl-5 {
    padding-left: 1em!important;
  }
}
.landing {
  min-height: 100vh;
  background: no-repeat center center;
  background-image: url('assets/img/bg-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.landing .jumbotron {
  background-color: initial;
}

a { color: inherit; }
a.opacity-3 { opacity: 0.3; }
a.landing-link { color: black; opacity: 1; }
a:hover, a:focus, a.active { color: inherit; opacity: 1; text-decoration: initial; }
/*a:link { color: inherit; }
a:visited { color: inherit; }
a:hover { color: inherit; border: solid 1px; text-decoration: initial; padding: 0.2em inherit; }
a:active { color: inherit; }*/

/*a:hover::after, a:active::after, a:focus::after {
  content: '*';
}*/
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-expand_more {
  position: relative;
  top: 0.25em;
}
.icon-open_in_new {
  width: 0.7em;
  height: 1.2em;
}
.cursor-pointer { cursor: pointer; }
.main-content-contaier {
  max-width: 1024px;
}