h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h5, .h6, a.h4 {
   font-weight: 300;
}
.display-1 {
  font-weight: 100;
}
.lh-3 {
  line-height: 150%;
}
.container-fluid.research {
  background-color: #EBEBEB;
  color: #1A1A1A;
  min-height: 100vh;
}
.container-fluid.code {
  background-color: #222222;
  color: #E6E6E6;
  min-height: 100vh;
}
.bg-img {
  width: 100%;
  min-height: 300px;
  background: no-repeat center center;
  opacity: 0.15;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.text-on-bg-img {
  min-height: 300px;
  border-left: solid 4px;
}
.bullet-img {
  width: 40px;
  position: absolute;
  left: -22px;
  top: -15px;
}
.border-left-solid {
  border-left: solid 4px;
}
.min-height-100vh{
  min-height: 100vh;
}
.title-position {
  padding-left: 200px;
  padding-top: 70px;
  position: relative;
  z-index: 2;
}
.nav-position {
  padding-left: 200px;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
}
.title-img-position {
  position: absolute;
}
@media (max-width: 620px) {
  .nav-position > span {
    display: block;
  }
}
@media (max-width: 500px) {
  .title-position {
    padding-left: 0.7em;
  }
  .nav-position {
    padding-left: 4em;
  }
}
@media (max-width: 350px) {
  .title-position {
    padding-left: 0.2em;
    max-width: 300px;
  }
  .pl-5 {
    padding-left: 1em!important;
  }
  .nav-position {
    padding-left: 1em;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.landing {
  min-height: 100vh;
  background: no-repeat center center;
  background-image: url('../../assets/img/bg-img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.icon-expand_more {
  position: relative;
  top: 0.25em;
}
.icon-open_in_new {
  width: 0.7em;
  height: 1.2em;
}

.main-content-contaier {
  max-width: 1024px;
  overflow: hidden;
}
.float-left {
  float:left;
}